.container {
  display: flex;
  background-color: rgb(30, 32, 33);
  padding: 3rem 3rem 3rem 3rem;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.helpContainer {
  display: flex;
  align-items: center;
}

.textContainer {
  padding: 3rem;
}
.title {
  color: rgb(203, 200, 195);
}
.helpTitle {
  color: rgb(203, 200, 195);
}
.helpText {
  color: rgb(203, 200, 195);
}
.doge {
  width: 6rem;
}

.faq {
  width: 5.5rem;
}

.rhino {
  width: 5.5rem;
}

.bottom {
  margin: 30px;
  text-align: left;
  border: 0.05cm solid rgb(216, 213, 207);
  background-color: rgb(216, 213, 207);
}
