.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  /* border-bottom: 0.01cm solid rgb(216, 213, 207); */
}

.infoContainer:nth-child(2) {
  border-top: 1px solid rgb(193, 179, 243);
}
.nameContainer {
  display: flex;
  width: 20rem;
}

.cryptoCode {
  color: rgb(133, 133, 133);
  font-size: 0.8rem;
  /* padding: 1rem; */
  padding-left: 1rem;
  font-weight: lighter;
  margin-left: 10px;
}

.cryptoName {
  font-size: 1rem;
  padding: 1.1rem;
  padding-right: 0;
  color: rgb(216, 213, 207);
}

.logo {
  width: 2.3rem;
  /*   height: 2.3rem; */
  align-self: center;
  margin: 1rem;
}

.price {
  color: rgb(87, 87, 145);
  padding: 10px;
}

.green {
  color: rgb(93, 162, 40);
}
.red {
  color: rgb(162, 40, 40);
}

.date {
  color: rgb(133, 133, 133);
  font-size: 0.9rem;
}
