button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 32, 33);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ethTitle {
  font-size: 2.5rem;
  background-image: linear-gradient(
    to left,
    rgb(226, 204, 193),
    rgb(203, 250, 245),
    rgb(146, 169, 237),
    rgb(193, 179, 243),
    rgb(226, 204, 193)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: left; */
  padding: 7rem 10rem 8rem 13rem;
}
.imageContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  color: rgb(107, 124, 230);
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.signupButton {
  font-size: 1.1rem;
  background-color: rgb(107, 124, 230);
  padding: 1rem 2rem 1rem 2rem;
  /* margin: 1rem 6rem 0 6rem; */
  border-radius: 0.2cm;
  width: 27rem;
}
.signupButton:hover {
  background-color: rgb(100, 108, 155);
}

.continue {
  display: flex;
}

.signup p {
  color: hotpink;
  text-decoration: none;
  margin-top: 1rem;
  text-align: left;
}

.google {
  font-size: 1.1rem;
  background-color: rgb(30, 32, 30);
  color: white;
  padding: 1rem 4rem 1rem 4rem;
  border: 1px solid white;
  border-radius: 0.2cm;
}

.google:hover {
  border-color: hotpink;
}
.continueP {
  display: flex;
  margin-left: 9rem;
  margin-bottom: 1rem;
}

.ethInside {
  width: 15rem;
  margin-top: 3rem;
}
.nft {
  width: 22rem;
  height: 18rem;
  border-radius: 5px;
  margin: 20px;
}
.card {
  width: 13rem;
  border-radius: 5px;
}

.logo {
  width: 20rem;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.info {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  margin-top: 0;
}

.header {
  font-size: 2.3rem;
  color: hotpink;
}
.infoText {
  font-size: 1.3rem;
  color: hotpink;
}
